

<h1 class='center-align'>IdeaBox</h1>
<div class="container">
  <br>
  <div class="row">
    <div class="col s8 offset-m2">
      <div class="input-field">
        <input class="validate" type="text" id="idea-title">
        <label for="idea-title">Title</label>
      </div>
      <div class="input-field">
        <input class="form-control" type="text" id="idea-body">
        <label for="idea-body">Description</label>
      </div>
      <input class="btn btn-default pull-right" id="create-idea" type="button" name="submit" value="Create Idea">
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col s10">
      <ul class="collection" id="latest-ideas"></ul>
    </div>
  </div>
</div>
