<h1 class='center-align'>IdeaBox</h1>

<div class="container">
  <br>
  <div class="row">
    <h3 class= 's6'> Have something to say?</h3>
    <h3 class='col s6 offset-s6'>Search </h3>
  </div>
  <div class="row">
    <div class="col s6">
      <div class="input-field">
        <input class="validate" type="text" id="idea-title">
        <label for="idea-title"></label>
      </div>
      <div class="input-field">
        <input class="form-control" type="text" id="idea-body">
        <label for="idea-body"></label>
      </div>
      <br><br>
      <input class="btn btn-default" id="create-idea" type="button" name="submit" value="New Idea"></input>
    </div>
    <div class="col s6">
      <div class="input-field">
        <input class="validate" type="text" id="filter">
        <label for="filter"></label>
        <br><br><br><br><br><br>

        <input class="btn btn-default" id="create-idea" type="button" name="submit" value="Search"></input>
      </div>
    </div>
  </div>
  <br>
  <h3 class='center-align'> Previous BRILLIANT ideas: </h3>
  <div class="row">
    <div class="col s10">
      <ul id="latest-ideas"></ul>
    </div>
  </div>
</div>
