<h1 class='center-align'>IdeaBox</h1>

<div class="container">
  <br>
  <div class="row">
    <h3 class= 'center-align'> Have something to say? </h3>
    <div class="col s8 offset-m2">
      <div class="input-field">
        <input class="validate" type="text" id="idea-title">
        <label for="idea-title">Genius Title</label>
      </div>
      <div class="input-field">
        <input class="form-control" type="text" id="idea-body">
        <label for="idea-body">Genius Description</label>
      </div>
      <br><br>
      <input class="btn btn-default" id="create-idea" type="button" name="submit" value="New Idea">
    </div>
  </div>
  <br>
  <h3 class='center-align'> Previous BRILLIANT ideas: </h3>
  <div class="row">
    <div class="col s10">
      <ul id="latest-ideas"></ul>
    </div>
  </div>
</div>
